<?xml version="1.0" encoding="utf-8"?>
<configuration>

<!-- 
    If you try to refresh the page, by hitting F5 for example, you will get an error. 
    That’s because our web server is getting Angular Router URLs that it isn’t set up to handle. 
    So, we need to add some configuration that tells our web server how to fallback 
    to our index.html page so the Angular Router can handle those URLs for us.

    Note there isn’t anything specific to the Tour of Heroes application in here 
    except that our main fallback file is index.html. 
    So, this web.config will work for any Angular application. 

    NOTE: ensure this web.config file is added to "assets" in our angular.json file.
    ReferencE: https://angular.io/guide/deployment#server-configuration
-->

<system.webServer>
  <rewrite>
    <rules>
      <rule name="Angular Routes" stopProcessing="true">
        <match url=".*" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
        </conditions>
        <action type="Rewrite" url="./index.html" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>

</configuration>